<div class="reset-password">
    <div class="center">
        <h1>Reset Password</h1>
        <div class="form">
            <div *ngIf="true">
                <input class="txtfield" type="email" name="email" placeholder="Email" required/>
            </div>
            <div *ngIf="false">
                <input class="txtfield" type="code" name="code" placeholder="####" required/>
            </div>
            <input class="btn" type="submit" value="Send Code" />
            <div class="signup">Do not receive any code ? <a class="link" href="/forgot-password">Try again</a></div>
        </div>
    </div>
</div>